/* min-width 769px */

@media screen and (min-width: 769px) {

    .Arts__heading {
        text-align: center;
        margin-top: 160px;
    }

    .Arts__description {
        text-align: center;
        margin-top: 70px;
        line-height: 30px;

    }
    .Arts__contents {
        margin-top: 100px;
        margin-bottom: 200px;
        text-align: center;
    }

    .Arts__contents a {
        margin-bottom: 30px;
    }

    .Arts__contents p {
        text-align: center;
    }

    .Arts__contents__item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 35px;
    }

    .Arts__contents__item img{
        width: 100%;
        padding: 20px;
    }

    .Arts__more {
        text-align: center;
    }

    .Arts__description a {
        margin-top: 30px;
        width: 15%;
    }

    .Arts a {
        width: 15%;
    }

}


    /* max-width 768px */

@media screen and (max-width: 768px) {
   

}