/* min-width 769px */

@media screen and (min-width: 769px) {

    .header-nav {
        width: 100%;
        height: 80px;
        padding-right: 0px;
        position: fixed;
        top: 0;
        z-index: 9999;
        background-color: #FFF;
    }

    .header-nav a {
        color: rgba(30, 28, 28, 0.808);
        font-weight: bold;
        text-decoration: none;
    }

    .header-nav a:hover {
        color: #4f4c4c89;
        text-decoration: underline;
    }

    .header li {
        display: inline-block;
        text-align: center;
        width: 12%;
        position: relative;
        z-index: 1;
    }

    .header li::after {
        content: "";
        position: absolute;
        z-index: 2;
    }
    .header-nav ul {
        display: flex;
        height: 100%;
        align-items: center;
    }
    .header-nav__menu {
        width: 80%;
        text-align: center;
    }

    .header-nav__menu li {
        margin-left: 10px;
    }

    .header-nav ul .header-nav-logo  {
        width: auto;
        height: 100%;
    }

    .header-nav-logo img {
        height: 100%;
        width: 100%;
    }

    .header-nav ul:nth-child(2) {
        margin-left: 10px;
    }

    .header li  {

    }
    /*-------------　
    ------------------- header --------------------------*/

    .header__heading {
        margin-top: 150px;
        display: flex;
        padding: 33px;
    }
    .header__heading__title {
        text-align: center;
        font-size: 35px;
    }

    .header__heading__text {
        text-align: center;
        position: relative;
        top: 25%;
        left: -3%;
    }

    .header__heading__text p {
        margin-top: 20px;
        font-size: 30px;
    }

    .header__heading__contents {
        text-align: center;
        font-size: 30px;
        margin-top: 60px;
    }

    .header__heading__contents a {
        background-color: #005A62;
        color: #FFE8DB;
        border-radius: 60px;
        padding: 20px;
        width: 336px;
    }

    .header__heading__contents a:hover {
        background-color: #005a6291;
        color: #ffe8db47;
    }

    .header__heading__item {
        flex: 1;
        height: 450px;
    }

    .header__heading a {
        flex: 1;
        display: inline-block;
        width: 100%;
    }

    .header__heading__img {
        flex: 1.6;

    }

    .header__heading__img:hover {
        opacity: 0.5;
    }

    .header__heading__img a {
        background-image: url(../img/a_beautiful_mountain_landscape.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

    /* max-width 768px */

@media screen and (max-width: 768px) {
    

}