/* min-width 769px */

@media screen and (min-width: 769px) {

    .project {
        margin-top: 200px;
        margin-bottom: 100px;
    }

    .project__heading {
        text-align: center;
        margin-bottom: 70px;
    }

    .project__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 70%;
        height: 380px;
        margin-left: 15%;
        text-align: center;
    }

    .project__list__meta {
        padding-top: 20px;
        border: 1px solid black;
        border-right: 0;
    }

    .project__list__web {
        padding-top: 20px;
        border: 1px solid black;
        border-right: 0;
    } 

    .project__list__enter {
        padding-top: 20px;
        border: 1px solid black;
    }

}


    /* max-width 768px */

@media screen and (max-width: 768px) {
   

}