<html style="font-size: 16px;" lang="en"><head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="AI Arts Gallery">
  <meta name="description" content="">
  <title>Arts</title>
  <link rel="stylesheet" href="/gakugeki-25a64/us-central1/app/stylesheets/nicepage.css" media="screen">
<link rel="stylesheet" href="/gakugeki-25a64/us-central1/app/stylesheets/About.css" media="screen">
  <script class="u-script" type="text/javascript" src="/gakugeki-25a64/us-central1/app/javascripts/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="/gakugeki-25a64/us-central1/app/javascripts/nicepage.js" defer=""></script>
  <meta name="generator" content="Nicepage 5.6.2, nicepage.com">
  <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
  
  
  
  <script type="application/ld+json">{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "Gakugeki",
  "logo": "images/gakugeki-logo-v2.png"
}</script>
  <meta name="theme-color" content="#24547e">
  <meta property="og:title" content="Arts">
  <meta property="og:type" content="website">
<meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
<body class="u-body u-xl-mode" data-lang="en">
  <%- include("header.ejs") %>
    <section class="u-clearfix u-container-align-center u-image u-section-1" id="sec-2d38" data-image-width="1440" data-image-height="871">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"><img src="/gakugeki-25a64/us-central1/app/images/gakugeki-logo-v2.png" alt=""></div>
    </section>
    <section class="u-black u-clearfix u-container-align-center u-section-2" id="carousel_fc92">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="u-black u-container-style u-group u-group-1">
          <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-valign-middle-xs u-container-layout-1">
            <div class="u-border-5 u-border-white u-container-align-center-sm u-container-align-center-xs u-container-style u-group u-group-2">
              <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-2">
                <h2 class="u-align-center u-text u-text-1">未来の完全メタバースを創造する！</h2>
              </div>
            </div><span class="u-align-center u-black u-file-icon u-icon u-icon-circle u-icon-1"><img src="/gakugeki-25a64/us-central1/app/images/7350737-0686f48c.png" alt=""></span><span class="u-align-center u-black u-file-icon u-icon u-icon-circle u-icon-2"><img src="images/7350738-c1830951.png" alt=""></span>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-5-base u-section-3" id="sec-d019">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-text u-text-default u-text-palette-2-base u-text-1">About Us</h1>
        <h4 class="u-text u-text-2">メタバースの可能性ってもっと大きいはずだ<br>あああ<br>ああ<br>ああ<br>あ<br>ああ<br>あああああああああああああああああああああああああ
        </h4>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-4" id="sec-9ee9">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-text u-text-default-lg u-text-default-xl u-text-palette-2-base u-text-1">メンバー</h1>
        <h4 class="u-text u-text-default u-text-2">全国から集まったメンバーたちと日々活動しています<span style="font-style: normal;"></span>
        </h4>
        <div class="u-expanded-width u-layout-horizontal u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1">
                <div alt="" class="u-image u-image-circle u-image-1" data-image-width="1280" data-image-height="774"></div>
                <h4 class="u-align-center u-text u-text-default u-text-3">Jeffrey Brown</h4>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2">
                <div alt="" class="u-image u-image-circle u-image-2" data-image-width="1280" data-image-height="774"></div>
                <h4 class="u-align-center u-text u-text-default u-text-4">Ann Richmond</h4>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3">
                <div alt="" class="u-image u-image-circle u-image-3" data-image-width="1280" data-image-height="774"></div>
                <h4 class="u-align-center u-text u-text-default u-text-5">Alex Greenfield</h4>
              </div>
            </div>
          </div>
          <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1" href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
          </a>
          <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2" href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
          </a>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-palette-1-dark-2 u-section-5" id="sec-a48b">
      <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>
    <section class="u-clearfix u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-palette-1-dark-2 u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-section-6" id="sec-7f19">
      <div class="u-container-style u-group u-shape-rectangle u-group-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <h1 class="u-align-center u-text u-text-default u-text-palette-2-base u-text-1">活動部署</h1>
          <h3 class="u-align-center u-text u-text-default u-text-2">次世代のメタバースを開発するために<br>以下の部門で学生が活躍しています
          </h3>
        </div>
      </div>
      <div class="u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-col">
            <div class="u-size-30">
              <div class="u-layout-row">
                <div class="u-container-align-center-lg u-container-align-center-md u-container-align-center-xl u-container-style u-layout-cell u-palette-1-dark-1 u-size-15 u-size-30-md u-layout-cell-1" id="vr-box-1">
                  <div class="u-container-layout u-valign-middle-sm u-container-layout-2"><span class="u-align-center-sm u-align-center-xs u-file-icon u-icon u-text-palette-5-light-3 u-icon-1"><img src="/gakugeki-25a64/us-central1/app/images/908304-7412114d.png" alt=""></span>
                    <p class="u-align-center-sm u-align-center-xs u-text u-text-default u-text-3">VR開発</p>
                  </div>
                </div>
                <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-palette-1-dark-1 u-shape-rectangle u-size-15 u-size-30-md u-layout-cell-2" id="vr-box-2">
                  <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-3">
                    <div class="u-align-center u-text u-text-default u-text-4">仮想空間の開発を行っています 
                    </div>
                  </div>
                </div>
                <div class="u-container-align-center-lg u-container-align-center-md u-container-align-center-xl u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-3" id="pv-box-1">
                  <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-4"><span class="u-file-icon u-icon u-text-palette-5-light-3 u-icon-2"><img src="/gakugeki-25a64/us-central1/app/images/7655679-125ca3de.png" alt=""></span>
                    <p class="u-text u-text-default u-text-5">広報</p>
                  </div>
                </div>
                <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-4" id="pv-box-2">
                  <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-5">
                    <div class="u-align-center u-text u-text-default u-text-6">活動を広く知ってもらえるよう発信活動をしています </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-30">
              <div class="u-layout-row">
                <div class="u-container-align-center-lg u-container-align-center-md u-container-align-center-xl u-container-style u-layout-cell u-palette-1-dark-1 u-size-15 u-size-30-md u-layout-cell-5">
                  <div class="u-container-layout u-valign-top-sm u-valign-top-xs u-container-layout-6"><span class="u-file-icon u-icon u-text-palette-5-light-3 u-icon-3"><img src="/gakugeki-25a64/us-central1/app/images/3214841-40818d4c.png" alt=""></span>
                    <p class="u-text u-text-default u-text-7">WEB開発</p>
                  </div>
                </div>
                <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-palette-1-dark-1 u-size-15 u-size-30-md u-layout-cell-6">
                  <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-7">
                    <div class="u-align-center u-text u-text-default u-text-8">ウェブサイトの開発を行っています</div>
                  </div>
                </div>
                <div class="u-container-align-center-lg u-container-align-center-md u-container-align-center-xl u-container-style u-layout-cell u-palette-1-dark-2 u-size-15 u-size-30-md u-layout-cell-7">
                  <div class="u-container-layout u-container-layout-8"><span class="u-file-icon u-icon u-text-palette-5-light-3 u-icon-4"><img src="/gakugeki-25a64/us-central1/app/images/45010-a26cf3b5.png" alt=""></span>
                    <p class="u-text u-text-default u-text-9">番組撮影</p>
                  </div>
                </div>
                <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-palette-1-dark-2 u-size-15 u-size-30-md u-layout-cell-8">
                  <div class="u-container-layout u-valign-middle-sm u-container-layout-9">
                    <div class="u-align-center u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-10">仮想空間ならではのエンタメを提供しています</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-1-dark-1 u-section-7" id="sec-c5b1">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-text u-text-default u-text-palette-2-base u-text-1">メンバー募集</h1>
        <p class="u-align-center u-text u-text-2">学檄INFINITEでは<br>さらなる次元でのメタバースの創造を目指して、<br>我々とともに活動するメンバーを募集しています！<br>
          <br>一緒に次世代を目指しませんか？
        </p>
        <a href="https://nicepage.com/one-page-template" class="u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-palette-3-light-2 u-palette-3-light-1 u-radius-50 u-btn-1">こちらから</a>
      </div>
    </section>
    <%- include("footer.ejs") %>
    <script type="text/javascript" src="/gakugeki-25a64/us-central1/app/javascripts/about.js"></script>
</body></html>