<html style="font-size: 16px;" lang="en"><head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="AI Arts Gallery">
  <meta name="description" content="">
  <title>Arts</title>
  <link rel="stylesheet" href="/gakugeki-25a64/us-central1/app/stylesheets/nicepage.css" media="screen">
  <link rel="stylesheet" href="/gakugeki-25a64/us-central1/app/stylesheets/member.css" media="screen">
<link rel="stylesheet" href="/gakugeki-25a64/us-central1/app/stylesheets/About.css" media="screen">
  <script class="u-script" type="text/javascript" src="/gakugeki-25a64/us-central1/app/javascripts/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="/gakugeki-25a64/us-central1/app/javascripts/nicepage.js" defer=""></script>
  <meta name="generator" content="Nicepage 5.6.2, nicepage.com">
  <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
  
  
  
  <script type="application/ld+json">{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "Gakugeki",
  "logo": "images/gakugeki-logo-v2.png"
}</script>
  <meta name="theme-color" content="#24547e">
  <meta property="og:title" content="Arts">
  <meta property="og:type" content="website">
<meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
<body class="u-body u-xl-mode" data-lang="en">
  <%- include("header.ejs") %>
    <section class="u-clearfix u-container-align-center u-image u-section-1" id="sec-2d38" data-image-width="1440" data-image-height="871">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"><img src="/gakugeki-25a64/us-central1/app/images/gakugeki-logo-v2.png" alt=""></div>
    </section>
    <section class="u-black u-clearfix u-container-align-center u-section-2" id="carousel_fc92">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="u-black u-container-style u-group u-group-1">
          <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-valign-middle-xs u-container-layout-1">
            <div class="u-border-5 u-border-white u-container-align-center-sm u-container-align-center-xs u-container-style u-group u-group-2">
              <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-2">
                <h2 class="u-align-center u-text u-text-1">未来の完全メタバースを創造する！</h2>
              </div>
            </div><span class="u-align-center u-black u-file-icon u-icon u-icon-circle u-icon-1"><img src="/gakugeki-25a64/us-central1/app/images/7350737-0686f48c.png" alt=""></span><span class="u-align-center u-black u-file-icon u-icon u-icon-circle u-icon-2"><img src="images/7350738-c1830951.png" alt=""></span>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-5-base u-section-3" id="sec-d019">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-text u-text-default u-text-palette-2-base u-text-1">About us</h1>
        <h4 class="u-text u-text-2">『学檄INFINITE!!製作委員会』は、<br class="block-767"/>2022年6月に発足した学生団体である。<br/>立ち上げ初期は開発好きな大学生数人の<br class="block-767"/>小さなコミュニティだったが、<br/>2023年3月現在では学生の数は20人を超え、<br/>メタバース開発・Web開発・<br class="block-767"/>未来のエンタメ製作など<br/>多岐にわたる活動を行っている。<br/>昨年12月には、学問と遊びの融合をテーマに<br class="block-767"/>『V檄祭』を主催。<br/>仮想空間でのイベントとしては異例の<br class="block-767"/>90名を超える動員を達成し、<br/>現在、「未来のメタバースの開発」に向け、<br class="block-767"/>鋭意、取り組んでいる。
        </h4>
      </div>
    </section>
    <%- include("member.ejs") %>
    <section class="u-clearfix u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-palette-1-dark-2 u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-section-6" id="sec-7f19">
      <div class="u-container-style u-group u-shape-rectangle u-group-1">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <h1 class="u-align-center u-text u-text-default u-text-palette-2-base u-text-1">活動部署</h1>
        </div>
      </div>
      <div class="u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-col">
            <div class="u-size-30">
              <div class="u-layout-row">
                <div class="u-container-align-center-lg u-container-align-center-md u-container-align-center-xl u-container-style u-layout-cell u-palette-1-dark-1 u-size-15 u-size-30-md u-layout-cell-1" id="vr-box-1">
                  <div class="u-container-layout u-valign-middle-sm u-container-layout-2"><span class="u-align-center-sm u-align-center-xs u-file-icon u-icon u-text-palette-5-light-3 u-icon-1"><img src="/gakugeki-25a64/us-central1/app/images/908304-7412114d.png" alt=""></span>
                    <p class="u-align-center-sm u-align-center-xs u-text u-text-default u-text-3">VR開発</p>
                  </div>
                </div>
                <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-palette-1-dark-1 u-shape-rectangle u-size-15 u-size-30-md u-layout-cell-2" id="vr-box-2">
                  <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-3">
                    <div class="u-align-center u-text u-text-default u-text-4">仮想空間の開発を行っています 
                    </div>
                  </div>
                </div>
                <div class="u-container-align-center-lg u-container-align-center-md u-container-align-center-xl u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-3" id="pv-box-1">
                  <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-4"><span class="u-file-icon u-icon u-text-palette-5-light-3 u-icon-2"><img src="/gakugeki-25a64/us-central1/app/images/7655679-125ca3de.png" alt=""></span>
                    <p class="u-text u-text-default u-text-5">広報</p>
                  </div>
                </div>
                <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-4" id="pv-box-2">
                  <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-5">
                    <div class="u-align-center u-text u-text-default u-text-6">活動を広く知ってもらえるよう発信活動をしています </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-30">
              <div class="u-layout-row">
                <div class="u-container-align-center-lg u-container-align-center-md u-container-align-center-xl u-container-style u-layout-cell u-palette-1-dark-1 u-size-15 u-size-30-md u-layout-cell-5">
                  <div class="u-container-layout u-valign-top-sm u-valign-top-xs u-container-layout-6"><span class="u-file-icon u-icon u-text-palette-5-light-3 u-icon-3"><img src="/gakugeki-25a64/us-central1/app/images/3214841-40818d4c.png" alt=""></span>
                    <p class="u-text u-text-default u-text-7">WEB開発</p>
                  </div>
                </div>
                <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-palette-1-dark-1 u-size-15 u-size-30-md u-layout-cell-6">
                  <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-7">
                    <div class="u-align-center u-text u-text-default u-text-8">ウェブサイトの開発を行っています</div>
                  </div>
                </div>
                <div class="u-container-align-center-lg u-container-align-center-md u-container-align-center-xl u-container-style u-layout-cell u-palette-1-dark-2 u-size-15 u-size-30-md u-layout-cell-7">
                  <div class="u-container-layout u-container-layout-8"><span class="u-file-icon u-icon u-text-palette-5-light-3 u-icon-4"><img src="/gakugeki-25a64/us-central1/app/images/45010-a26cf3b5.png" alt=""></span>
                    <p class="u-text u-text-default u-text-9">番組撮影</p>
                  </div>
                </div>
                <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-palette-1-dark-2 u-size-15 u-size-30-md u-layout-cell-8">
                  <div class="u-container-layout u-valign-middle-sm u-container-layout-9">
                    <div class="u-align-center u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-10">仮想空間ならではのエンタメを提供しています</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-1-dark-1 u-section-7" id="sec-c5b1">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-text u-text-default u-text-palette-2-base u-text-1">メンバー募集</h1>
        <p class="u-align-center u-text u-text-2">学檄INFINITEでは<br>さらなる次元でのメタバースの創造を目指して、<br>我々とともに活動するメンバーを募集しています！<br>
          <br>一緒に次世代を目指しませんか？
        </p>
        <a href="https://nicepage.com/one-page-template" class="u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-palette-3-light-2 u-palette-3-light-1 u-radius-50 u-btn-1">こちらから</a>
      </div>
    </section>
    <%- include("footer.ejs") %>
    <script type="text/javascript" src="/gakugeki-25a64/us-central1/app/javascripts/about.js"></script>
</body></html>