<section class="u-clearfix u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-section-cooperation" id="sec-7f19">
    <div class="u-container-style u-group u-shape-rectangle u-group-1">
      <div class="u-container-layout u-valign-middle u-container-layout-1">
        <h1 class="u-align-center u-text u-text-default u-text-palette-2-base u-text-1">協賛・協力企業</h1>
      </div>
    </div>
    <div class="u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        <div class="u-layout-col">
          <div class="u-size-block">
              <div class="u-layout-row u-layout-block-1">
                <div class="u-container-align-center-lg u-container-align-center-md u-container-align-center-xl u-container-style u-layout-cell u-size-logo" id="vr-box-1">
                    <div class="u-container-layout u-valign-middle-sm u-container-layout-2"><span class="u-align-center-sm u-align-center-xs u-file-icon u-icon u-text-palette-5-light-3 u-image-1"><img src="/gakugeki-25a64/us-central1/app/images/logo/御幸鉄工所.jpeg" alt=""></span>
                    </div>
                </div>
                <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-shape-rectangle u-size-company_name" id="vr-box-2">
                    <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-3">
                    <h4 class="u-align-center u-text u-text-default u-text-2">株式会社<br/>御幸鉄工所
                    </h4>
                    </div>
                </div>
              </div>
              <div class="u-layout-row u-layout-block-1">
                <div class="u-container-align-center-lg u-container-align-center-md u-container-align-center-xl u-container-style u-layout-cell u-size-logo" id="vr-box-1">
                    <div class="u-container-layout u-valign-middle-sm u-container-layout-2"><span class="u-align-center-sm u-align-center-xs u-file-icon u-icon u-text-palette-5-light-3 u-image-1"><img src="/gakugeki-25a64/us-central1/app/images/logo/渋谷Web3大学.png" alt=""></span>
                    </div>
                </div>
                <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-shape-rectangle u-size-company_name" id="vr-box-2">
                    <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-3">
                    <h4 class="u-align-center u-text u-text-default u-text-2">渋谷Web3大学
                    </h4>
                    </div>
                </div>
              </div>
              <div class="u-layout-row u-layout-block-1">
                <div class="u-container-align-center-lg u-container-align-center-md u-container-align-center-xl u-container-style u-layout-cell u-size-logo" id="vr-box-1">
                    <div class="u-container-layout u-valign-middle-sm u-container-layout-2"><span class="u-align-center-sm u-align-center-xs u-file-icon u-icon u-text-palette-5-light-3 u-image-1"><img src="/gakugeki-25a64/us-central1/app/images/logo/アカリク.png" alt=""></span>
                    </div>
                </div>
                <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-shape-rectangle u-size-company_name" id="vr-box-2">
                    <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-3">
                    <h4 class="u-align-center u-text u-text-default u-text-2">株式会社<br/>アカリク
                    </h4>
                    </div>
                </div>
              </div>
              <div class="u-layout-row u-layout-block-1">
                <div class="u-container-align-center-lg u-container-align-center-md u-container-align-center-xl u-container-style u-layout-cell u-size-logo" id="vr-box-1">
                    <div class="u-container-layout u-valign-middle-sm u-container-layout-2"><span class="u-align-center-sm u-align-center-xs u-file-icon u-icon u-text-palette-5-light-3 u-image-1"><img src="/gakugeki-25a64/us-central1/app/images/logo/emerging-technology.png" alt=""></span>
                    </div>
                </div>
                <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-shape-rectangle u-size-company_name" id="vr-box-2">
                    <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-3">
                    <h4 class="u-align-center u-text u-text-default u-text-2">株式会社<br/>エマージング<br/>テクノロジーズ
                    </h4>
                    </div>
                </div>
              </div>
              <div class="u-layout-row u-layout-block-1">
                <div class="u-container-align-center-lg u-container-align-center-md u-container-align-center-xl u-container-style u-layout-cell u-size-logo" id="vr-box-1">
                    <div class="u-container-layout u-valign-middle-sm u-container-layout-2"><span class="u-align-center-sm u-align-center-xs u-file-icon u-icon u-text-palette-5-light-3 u-image-1"><img src="/gakugeki-25a64/us-central1/app/images/logo/クラスター.png" alt=""></span>
                    </div>
                </div>
                <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-shape-rectangle u-size-company_name" id="vr-box-2">
                    <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-3">
                    <h4 class="u-align-center u-text u-text-default u-text-2">クラスター<br/>株式会社
                    </h4>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</section>