<header class="u-clearfix u-header u-palette-4-base u-sticky u-sticky-69bf u-header" id="sec-ab10"><div class="u-clearfix u-sheet u-sheet-1">
    <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="1440" data-image-height="871">
      <img src="/gakugeki-25a64/us-central1/app/images/gakugeki-logo-v2.png" class="u-logo-image u-logo-image-1">
    </a>
    <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1" data-responsive-from="MD" data-position="">
      <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 400;">
        <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-decoration u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
          <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
          <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
        </a>
      </div>
      <div class="u-custom-menu u-nav-container">
        <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/gakugeki-25a64/us-central1/app/Home" style="padding: 10px 20px;">
            <img src="/gakugeki-25a64/us-central1/app/images/home.svg" height="20px" width="20px" style="vertical-align:middle;"><p style="vertical-align:middle;display:inline;"> Home</p></a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/gakugeki-25a64/us-central1/app/About" style="padding: 10px 20px;">
    <img src="/gakugeki-25a64/us-central1/app/images/about_us.svg" height="20px" width="20px" style="vertical-align:middle;"><p style="vertical-align:middle;display:inline;"> About us</p></a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/gakugeki-25a64/us-central1/app/Arts" style="padding: 10px 20px;">
    <img src="/gakugeki-25a64/us-central1/app/images/AI_art.svg" height="16px" width="16px" style="vertical-align:middle;"><p style="vertical-align:middle;display:inline;"> Arts</p></a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/gakugeki-25a64/us-central1/app/Home#sec-5815" style="padding: 10px 20px;">
    <img src="/gakugeki-25a64/us-central1/app/images/projects.svg" height="16px" width="16px" style="vertical-align:middle;"><p style="vertical-align:middle;display:inline;"> Projects</p></a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/gakugeki-25a64/us-central1/app/Home#sec-5cbb" style="padding: 10px 20px;">
    <img src="/gakugeki-25a64/us-central1/app/images/member.svg" height="16px" width="16px" style="vertical-align:middle;"><p style="vertical-align:middle;display:inline;"> Member</p></a>
</li></ul>
      </div>
      <div class="u-custom-menu u-nav-container-collapse">
        <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
          <div class="u-inner-container-layout u-sidenav-overflow">
            <div class="u-menu-close"></div>
            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/gakugeki-25a64/us-central1/app/Home">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/gakugeki-25a64/us-central1/app/About">About</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/gakugeki-25a64/us-central1/app/Arts">Arts</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/gakugeki-25a64/us-central1/app/Home#sec-5815">Projects</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/gakugeki-25a64/us-central1/app/Home#sec-5cbb">Members</a>
</li></ul>
          </div>
        </div>
        <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
      </div>
    </nav>
  </div><style class="u-sticky-style" data-style-id="69bf">.u-sticky-fixed.u-sticky-69bf:before, .u-body.u-sticky-fixed .u-sticky-69bf:before {
borders: top right bottom left !important
}</style></header>