<section class="u-clearfix u-container-align-center u-image u-section-nikoniko">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1"><img src="/gakugeki-25a64/us-central1/app/images/nikoniko.jpg" alt=""></div>
</section>