/* min-width 769px */

@media screen and (min-width: 769px) {

    .Arts {
        color: black;
    }

    .Arts__heading {
        text-align: center;
        padding-top: 65px;
    }

    .Arts__description {
        text-align: center;
        margin-top: 70px;
    }
    .Arts__contents {
        margin-top: 100px;
        margin-bottom: 200px;
    }

    .Arts__contents p {
        text-align: center;
        margin-bottom: 35px;
    }

    .Arts__contents__item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 35px;
    }

    .Arts__contents__item img{
        width: 100%;
    }

    .Arts__more {
        text-align: center;
    }





}


    /* max-width 768px */

@media screen and (max-width: 768px) {
   

}