.block-575 {
  display: none;
}
@media (max-width: 575px) {
  .block-575 {
    display: block;
  }
}

.block-1199 {
  display: none;
}
@media (max-width: 1199px) {
  .block-1199 {
    display: block;
  }
}

.u-section-1 {
  background-image: url("/gakugeki-25a64/us-central1/app/images/metaverse_image.jpeg");
}

.u-section-1 .u-sheet-1 {
  min-height: 541px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 431px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 75px auto 0;
  font-weight:bolder;
  color:#fff;
  -webkit-text-stroke: 2px #000;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 34px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 2rem;
  margin: 34px 0 0;
  font-weight: bolder;
  color:#fff;
  -webkit-text-stroke: 1px #000;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 37px auto 0;
  padding: 10px 74px 10px 72px;
}

.u-section-1 .u-image-1 {
  min-height: 431px;
  background-image: url("/gakugeki-25a64/us-central1/app/images/gakugeki-logo-v2.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

#top-logo-1 {
  display:none;
}
#top-logo-2 {
  display:block;
}

@media (max-width: 768px) {
  #top-logo-1 {
    display:block;
  }
  #top-logo-2 {
    display:none;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin: 50px auto 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-1 .u-image-1 {
    min-height: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin: 23px auto 0;
    width: 222px;
  }

  .u-section-1 .u-image-1 {
    min-height: 272px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .u-section-1 .u-text-1 {
    font-size: 2.0rem;
    margin: 18px auto 0;
    width: 200px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin: 34px 0 0;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .u-section-1 .u-text-2 {
    font-size: 1.0rem;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .u-section-1 .u-text-2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 300px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.0rem;
    margin: 18px auto 0;
    width: 334px;
  }

  .u-section-1 .u-image-1 {
    min-height: 408px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.0rem;
    margin: 18px auto 0;
    width: 320px;
  }

  .u-section-1 .u-image-1 {
    min-height: 257px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 341px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 40px auto 40px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 10px 0 17px;
}

.u-section-2 .u-layout-cell-1 {
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 30px 30px 30px;
}

.u-section-2 .u-group-1 {
  min-height: 159px;
  max-width:700px;
  margin-top: 0;
  margin-bottom: 0;
  left:50%;
  transform:translateX(-50%);
}

.u-section-2 .u-container-layout-2 {
  padding: 40px 40px 40px 40px;
}

.u-section-2 .u-text-2 {
  font-size: 1.75rem;
  margin: 0 auto 0;
  line-height: 2.5rem;
}

.u-section-2 .u-layout-cell-2 {
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 30px 30px 30px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: 0 auto;
  padding: 10px 112px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin: 0 auto 0;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 271px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    margin: 0 auto 0;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-2 .u-group-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-btn-1 {
    background-image: none;
    margin: 0 auto;
    padding: 10px 80px;
    font-size: 0.8rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
  }

} 

.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 541px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 300px;
  width: 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-7 .u-text-3 {
  font-size: 2.5rem;
  margin: 100px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  margin: 37px auto 0;
  padding: 10px 72px 10px 72px;
}
.u-section-7 .u-image-1 {
  width: 450px;
  height: 450px;
  margin: auto;
  background-image: url("/gakugeki-25a64/us-central1/app/images/nikoniko2023-image.png");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
  .u-section-7 .u-text-3 {
    margin: 70px 0 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-3 {
    font-size: 2.0rem;
    margin: 50px 0 0;
  }

  .u-section-7 .u-image-1 {
    height: 350px;
    width: 350px;
  }
  .u-section-7 .u-btn-1 {
    padding: 10px 40px 10px 40px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 200px;
  }

  .u-section-7 .u-text-3 {
    font-size: 2.0rem;
    margin: 0 0 0;
  }

  .u-section-7 .u-layout-cell-1 {
    width: 100%;
  }

  .u-section-7 .u-image-1 {
  }
  .u-section-7 .u-btn-1 {
    padding: 10px 40px 10px 40px;
    margin-bottom: 30px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    min-height: 257px;
  }
}

.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 52px auto 40px;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin: 20px 0 40px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 25.3333px) calc(33.3333% - 25.3333px) calc(33.3333% - 25.3333px);
  min-height: 380px;
  grid-gap: 38px 38px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  height: 214px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  margin: 31px 30px 0;
}

.u-section-3 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 30px 30px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  height: 214px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-6 {
  margin: 31px 30px 0;
}

.u-section-3 .u-text-7 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 30px 30px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  height: 214px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-9 {
  margin: 31px 30px 0;
}

.u-section-3 .u-text-10 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-11 {
  margin: 20px 30px 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 330px;
  }

  .u-section-3 .u-image-1 {
    height: 177px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 177px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: 177px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 19px) calc(50% - 19px);
    min-height: 775px;
  }

  .u-section-3 .u-image-1 {
    height: 203px;
  }

  .u-section-3 .u-image-2 {
    height: 203px;
  }

  .u-section-3 .u-image-3 {
    height: 203px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1450px;
  }

  .u-section-3 .u-image-1 {
    height: 305px;
  }

  .u-section-3 .u-image-2 {
    height: 305px;
  }

  .u-section-3 .u-image-3 {
    height: 305px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    min-height: 1050px;
  }

  .u-section-3 .u-image-1 {
    height: 192px;
  }

  .u-section-3 .u-image-2 {
    height: 192px;
  }

  .u-section-3 .u-image-3 {
    height: 192px;
  }

  .u-section-3 .u-text-3 {
    font-size: large;
  }

  .u-section-3 .u-text-4 {
    font-size: x-large;
  }
}

.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 453px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 40px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 9px;
  margin-bottom: 35px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 333px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-image-1 {
  margin-bottom: 0;
  margin-top: 0;
  height: 263px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 333px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-5 .u-text-3 {
  margin: 60px auto 0;
  font-size: larger;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  margin: 20px auto 0;
  padding: 10px 100px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-5 .u-text-2 {
    margin: 20px auto 0;
  }

  .u-section-5 .u-text-3 {
    margin: 40px auto 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 275px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-1 {
    height: 205px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 275px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
    margin: 20px auto 0;
  }

  .u-section-5 .u-text-3 {
    margin: 30px auto 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 211px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    height: 176px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-btn-1 {
    padding: 10px 75px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
    margin: 0 auto 0;
  }

  .u-section-5 .u-text-3 {
    margin: 60px auto 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 317px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 305px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 10px 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 10px 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-5 .u-text-3 {
    margin: 30px auto 0;
    font-size: medium;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 200px;
  }

  .u-section-5 .u-image-1 {
    height: 188px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 547px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  margin: 44px 66px 0;
  line-height: 2.5rem;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 219px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-6 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 30px auto 0;
  padding: 10px 75px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 219px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-5 {
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  margin: 20px auto 0;
}

.u-section-6 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  padding-left: 75px;
  padding-right: 75px;
  background-image: none;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 40px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 181px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 181px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 307px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}