.u-section-member .u-sheet-1 {
    min-height: 660px;
  }
  
  .u-section-member .u-text-1 {
    font-weight: 700;
    margin: 60px auto 0;
  }
  
  .u-section-member .u-text-2 {
    margin: 20px auto 0;
  }
  
  .u-section-member .u-list-1 {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  
  .u-section-member .u-repeater-1 {
    grid-template-columns: repeat(5, 33.3333%);
    min-height: 377px;
    grid-gap: 0px 0px;
  }
  
  .u-section-member .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-member .u-image-1 {
    width: 240px;
    height: 240px;
    background-image: url("/gakugeki-25a64/us-central1/app/images/takazoe.jpeg");
    background-position: 50% 50%;
    margin: 0 auto;
  }
  
  .u-section-member .u-text-3 {
    text-transform: none;
    font-size: 1.5rem;
    margin: 20px auto 0;
  }

  .u-section-member .u-text-4 {
    text-transform: none;
    margin: 10px auto 0;
  }
  
  .u-section-member .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-member .u-image-2 {
    width: 240px;
    height: 240px;
    background-image: url("/gakugeki-25a64/us-central1/app/images/terada.jpeg");
    background-position: 50% 50%;
    margin: 0 auto;
  }
  
  .u-section-member .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-member .u-image-3 {
    width: 240px;
    height: 240px;
    background-image: url("/gakugeki-25a64/us-central1/app/images/ito_rei.png");
    background-position: 50% 50%;
    margin: 0 auto;
  }

  .u-section-member .u-image-4 {
    width: 240px;
    height: 240px;
    background-image: url("/gakugeki-25a64/us-central1/app/images/yamamoto.jpeg");
    background-position: 50% 50%;
    margin: 0 auto;
  }

  .u-section-member .u-image-5 {
    width: 240px;
    height: 240px;
    background-image: url("/gakugeki-25a64/us-central1/app/images/sakaguchi.jpeg");
    background-position: 50% 50%;
    margin: 0 auto;
  }
  
  .u-section-member .u-gallery-nav-1 {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 40px;
  }
  
  .u-section-member .u-gallery-nav-2 {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
  }
  
  @media (max-width: 1199px) {
    .u-section-member .u-sheet-1 {
      min-height: 708px;
    }
  
    .u-section-member .u-list-1 {
      height: auto;
    }
  
    .u-section-member .u-repeater-1 {
      grid-template-columns: repeat(5, 33.3333%);
    }
  }
  
  @media (max-width: 991px) {
    .u-section-member .u-sheet-1 {
      min-height: 617px;
    }
  
    .u-section-member .u-text-1 {
      width: 192px;
      margin-top: 50px;
    }
  
    .u-section-member .u-list-1 {
      margin-bottom: 50px;
    }
  
    .u-section-member .u-repeater-1 {
      grid-template-columns: repeat(5, 50%);
    }
  }
  
  @media (max-width: 767px) {
    .u-section-member .u-repeater-1 {
      grid-template-columns: repeat(5, 100%);
    }
  
    .u-section-member .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-member .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-member .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  } 